body {
    background-color: #c6c1df;
    max-width: 2000px;
    overflow-x: hidden;
}

@font-face {
    font-family: Bluu;
    src: url("/fonts/BluuNext-Bold.otf");
}

#login-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.spotify {
    padding: 15px;
    color: #3b39c2;
    border: 1px solid #3b39c2;
    background-color: #e1f9c7;
    box-shadow: 5px 5px #463487;
    font-size: 13pt;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.spotify:hover {
    cursor: pointer;
}

#icon {
    margin-right: 10px;
}

.text {
    font-family: IBM Plex Mono;
}

.header {
    margin-bottom: 20px;
    font-size: 44pt;
    margin-top: 40px;
    text-align: center;
    font-family: Bluu;
}

.info {
    text-align: center;
    margin-bottom: 20px;
    font-family: Work Sans;
}

#logout {
    display: none;
    margin-bottom: 40px;
}

.flex-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#mediumterm,
#shortterm {
    width: 600px;
    background-color: white;
    padding: 30px;
}

@keyframes fadeInUp {
    0% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    100% {
        opacity: 0.6;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }
}

.fadeInUp {
    animation: fadeInUp;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.delay24s {
    animation-delay: 24s;
    animation-duration: 40s;
}

.delay12s {
    animation-delay: 12s;
    animation-duration: 36s;
}

.delay10s {
    animation-delay: 10s;
    animation-duration: 32s;
}

.delay5s {
    animation-delay: 5s;
    animation-duration: 44s;
}

.delay32s {
    animation-delay: 32s;
    animation-duration: 39s;
}

.opac {
    opacity: 0;
}
