body {
    background-color: #c6c1df;
}

@font-face {
    font-family: Bluu;
    src: url("/fonts/BluuNext-Bold.otf");
}

#login-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.spotify {
    padding: 15px;
    color: #3b39c2;
    border: 1px solid #3b39c2;
    background-color: #e1f9c7;
    box-shadow: 5px 5px #463487;
    font-size: 13pt;
    display: flex;
    align-items: center;
}

.spotify:hover {
    cursor: pointer;
}

#icon {
    margin-right: 10px;
}

.text {
    font-family: IBM Plex Mono;
}

.header {
    margin-bottom: 20px;
    font-size: 36pt;
    text-align: center;
    font-family: Bluu;
}

.info {
    text-align: center;
    margin-bottom: 20px;
    font-family: Work Sans;
}

#logout {
    display: none;
}

.flex-container {
    display: flex;
    justify-content: center;
}
